body {
    color: #b8c3c5;
}

textarea.form-control {
    width: 100%;
    min-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
}

textarea.form-control:disabled {
    overflow-x: scroll;
    overflow-y: auto;
    word-wrap: normal;
    white-space: pre;
}

.modal {
    overflow-y: auto;
}
#flash-messages .modal-content {
    opacity: 0.9;
    background: none;
    color: inherit;
    box-shadow: none;
    border: 0;
    margin: 0;
}

.modal .modal-dialog {
    margin: 50px auto;
}

thead, tr {
    background-color: rgba(238, 232, 213, 0.09);
}

table {
    background-color: rgba(238, 232, 213, 0.09);
}
.table>thead>tr>.active, .table>tbody>tr>.active, .table>tfoot>tr>.active,
.table>thead>.active>td, .table>tbody>.active>td, .table>tfoot>.active>td,
.table>thead>.active>th, .table>tbody>.active>th, .table>tfoot>.active>th {
    background-color: rgba(238, 232, 213, 0.05);
}

