@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323'), local('VT323-Regular'), url(/static/fonts/CfvjE7QXPaQqLo02SkpIgA.ttf) format('truetype');
}

html, body {
}

body {
	min-height: 500px;
	padding-top: 70px;
	font-family: 'VT323', cursive;
	font-size: 190%;
	background: url('/static/img/bg.jpg') no-repeat center center fixed;
	background-size: cover;
	color: #ffffff;
}

:not(#content a.btn),
#content a,
#content a:active,
#content a:hover {
	color: #ffffff;
	background-color: rgba(66, 139, 202, 0.3);
	border-radius: 3px;
	padding: 2px 5px;
	text-decoration: none;
}

#content table a.btn {
	padding: 2px 5px;
}
#content table a.btn.inactive {
	opacity: 0.4;
}

p {
	text-indent: justify;
}
pre, code, textarea.form-control {
	color: #80ddff;
	background-color: rgba(0, 0, 0, 0.8);
	font-size: small;
	border: 0;
}
kbd, samp {
	font-family: 'VT323', monospace;
}
pre {
	border: 0;
}
h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'VT323', cursive;
}
h2 {
	text-transform: uppercase;
}
hr {
	border-top: 10px solid #000000;
	opacity: 0.2;
}
blockquote {
	border: 0;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
.table>tbody>tr>td, .table>tfoot>tr>td {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
thead {
	background-color: rgba(0, 0, 0, 0.5);
}
table {
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.table>thead>tr>.active, .table>tbody>tr>.active, .table>tfoot>tr>.active,
.table>thead>.active>td, .table>tbody>.active>td, .table>tfoot>.active>td,
.table>thead>.active>th, .table>tbody>.active>th, .table>tfoot>.active>th {
	background-color: rgba(79, 159, 249, 0.1);
}
.row {
	margin-bottom: 2em;
}
.label {
	color: #222222;
	opacity: 0.8;
}

.panel {
	background-color: rgba(0, 0, 0, 0.2);
	border: 0;
}

.panel-default > .panel-heading {
	background-image: none;
	background-color: transparent;
	color: #ffffff;
	font-weight: bold;
}

.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
	opacity: 0.7;
}

.navbar-static-top a,
.navbar-fixed-top a,
.navbar-fixed-bottom a{
	color: green;
}
.navbar-brand, .navbar-inverse .navbar-nav > li > a {
	color: #00c0ff;
}
.navbar-nav > li > a.danger,
.navbar-nav > li > a.danger:hover {
	color: red;
}
.jumbotron {
	background: url('/static/img/head.png') no-repeat top center;
	background-size: 800px 290px;
	height: 320px;
	margin: 0;
	padding: 0;
}
.featurette {
	margin-top: 40px
}
.featurette-image, img {
	opacity: 0.8;
}
.legend .dl-horizontal dt {
	width: auto;
}
.legend .dl-horizontal dd {
	margin-left: 100px;
}
dt {
	padding: 6px;
}
dd {
	margin-bottom: 15px;
}
div.flag {
	width: 50%;
	margin: 40px auto;
}
div.flag input.flag {
	width: 400px;
}
.dropdown-menu {
	background-color: #222222;
}
.dropdown-menu > li > a {
	font-size: large;
	color: #428bca;
	background-color: transparent;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: #ffffff;
	background-color: transparent;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background: none;
}
.dropdown-menu .divider {
	background-color: rgba(0, 0, 0, 0.5);
}

.huge {
	font-size: 100px;
}

.jqplot-target {
	font-family: 'VT323';
}
table.jqplot-table-legend {
	font-family: 'VT323';
	background: none;
	border: 0;
	color: #dddddd;
}
.jqplot-axis {
	color: #ffffff;
}
.jqplot-table-legend-label {
	padding-left: 5px;
}
.huge-icon {
	font-size: 300px;
	opacity: 0.8;
}

.form-signin {
	margin: 100px 0;
}

.form-submit {
	margin: 20px 0 0 0;
}

.form-signin input,
.form-submit input,
.input-group-addon {
	background-color: rgba(0, 0, 0, 0.6);
	border: 1px solid rgba(100, 100, 100, 0.3);
	color: #fafafa;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control,
.form-submit .form-control,
.form-signin button,
.form-submit button {
	position: relative;
	font-size: 20px;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.modal {
	overflow-y: auto;
}
#flash-messages .modal-content {
	opacity: 0.9;
	background: none;
	color: inherit;
	box-shadow: none;
	border: 0;
	margin: 0;
}

.modal .modal-dialog {
	margin: 50px auto;
}

.carousel-inner img {
	padding-bottom: 140px;
}

#hints {
	display: none;
}

table.scoreboard span.alert-info {
	border-radius: 3px;
	padding: 0 2px;
	background: rgba(0,0,0, 0.4);
	text-shadow: 0px 0px 2px #000000;
}
