{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="jumbotron mt-5"></div>

<p class="mt-3 lead">WUT CTF (read it as <i>w00t CTF</i>) is a Capture The Flag hacking contest organised as part of the Introduction to Security (184.783) and Tutorial on Introduction to Security (192.082) courses at TU Wien.</p>

<div class="card">
    <div class="card-header">CTF? WTF?</div>
    <div class="card-body">
	<p>
            A Capture the Flag (CTF) is a computer security competition. CTF contests are usually designed to serve as an educational exercise to give participants hands-on experience in the sort of attacks and protections found in the real world. There are two main styles of capture the flag competitions: jeopardy - like this competition - and attack/defense.
        </p>
        <p>
            Jeopardy-style competitions usually involve multiple categories of problems, each of which contains a variety of questions of different point values and difficulties. Teams attempt to earn the most points in the competition's time frame (for example 24 hours), but do not directly attack each other. Rather than a race, this style of game play encourages taking time to approach challenges and prioritizes quantity of correct submissions over the timing.
        </p>
    </div>
</div>

{% endblock %}
