{% extends "layout.html" %}
{% block title %}CTF Design{% endblock %}
{% block content %}

<h1>CTF Rules</h1>
<p>
    WUTCTF 2019 is a security competitions for students attending the Introduction to Security and Introduction to Security Lab courses at <a href="https://tuwien.ac.at">TU Wien</a>.
</p>

<h2>Schedule</h2>
<p>
    The contest is expected to be running for the entire duration of the course.<br>
    [TODO] add a precise schedule about challenge release dates. 
</p>

<h2>Scoring</h2>
<p>
    Each challenge is worth a certain amount of points in the range <code>0-500</code> according to the expected difficulty. Besides solving challenges, you are expected to write a small report, called write-up, and submit it using the provided form within a limited amount of time (usually one or two weeks), that will be announced at the release of every challenge.
</p>
<p>
    The CTF platform will provide a template for every write-up, asking for specific details on the solution and eventually to submit some code. <strong>Write-ups not following the template will not be evaluated</strong>.
</p>
<p>
    After the submission of the writeup you will be assigned a grade (between 0 and 1) and a feedback on the solution.
    Every positively graded challenge will grant a <b>bonus</b> on the exam score up to <code>0.5</code> points.
</p>
<p>
    Before solving any of the other challenges, you are required to accept an <code>agreement</code> on the responsible use of the abilities
    you will acquire during this lab.
</p>

<h3>Flags</h3>
<p>
    The aim of each challenge is to get a string (called flag) that proves a successful exploitation.
    All flags will have different formats but they will be easily recognizable.
</p>

<h3>Technical and Human Behaviour</h3>
<p>We'd like everyone to enjoy a fair game. For this reason we ask you to follow these simple rules:</p>
<ul>
    <li>No attacks against the infrastructure (this website and challenges) including denial-of-service (DOS), floods, DNS poisoning, ARP spoofing, MITM, etc...</li>
    <li>Don't try to bruteforce flags by doing an unreasonable number of attempts in the flag submission page. We guarantee our flags to be unguessable&trade;.</li>
    <li>Vulnerability/network scanners are useless for these challenges and not allowed. Do something better.</li>
    <li>If you find a way to hack into a service/challenge more easily than intended, please report it to the organizers.</li>
</ul>
<p>
    Rules anyway may change as more issues are raised by the participants. Also, the organizers keep the right to change them at any time.
    Keep in mind that it is not possible/feasible to list all the rules and the exceptions to rules that apply to the CTF competition. When in doubt, use common sense or ask to us on slack.
</p>

<h3>Communication</h3>
<p>
    We invite everyone attending the contest to join us on slack. <br>
    Challenge discussion will happen there and it will be the main platform for the interaction with the organizers.
</p>

<h3>And remember to...</h3>
<p>...have fun and hack all the things!!!!!11</p>

{% endblock %}
