{% extends "layout.html" %}
{% block title %}{{ challenge.name }}{% endblock %}
{% block content %}

<h2>{{ challenge.name }} <span class="text-muted">({{ challenge.points }} points)</span></h2>

{% if not challenge.active %}
<p class="lead">Challenge deactivated</p>
{% endif %}

{{ challenge.description|safe }}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form class="form-submit" action="{{ url_for('challenge', name=challenge.name) }}" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.flag.label(class="sr-only") }}
                {{ form.flag(placeholder="Flag", class="form-control", required=True) }}
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock %}
