
@font-face {
    font-family: 'Share Tech Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Share Tech Mono'), local('ShareTechMono-Regular'), url(/static/fonts/RQxK-3RA0Lnf3gnnnNrAsYW_AySPyikQrZReizgrnuw.ttf) format('truetype');
}


pre, code, textarea.form-control {
    padding:2px;
    font-family: 'Share Tech Mono', monospace;
    color: #2AA198;
    background-color: #1e434a;
    border: 0;
    border-radius:2px;
}
kbd, samp {
    font-family: 'Share Tech Mono', monospace;
}
pre code {
    border: 0;
    font-size: 14px;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
}

thead, tr {
    background-color: rgba(238, 232, 213, 0.09);
}

table {
    background-color: rgba(238, 232, 213, 0.09);
}
.table>thead>tr>.active, .table>tbody>tr>.active, .table>tfoot>tr>.active,
.table>thead>.active>td, .table>tbody>.active>td, .table>tfoot>.active>td,
.table>thead>.active>th, .table>tbody>.active>th, .table>tfoot>.active>th {
    background-color: rgba(238, 232, 213, 0.05);
}

.jumbotron {
    background: transparent url("/static/img/cyberchallenge_logo_front.png") no-repeat top center;
    background-size: contain;
    height: 400px;
}

.lead strong {
    font-weight: 700;
}

.form-signin {
    margin: 100px 0;
}

.form-submit {
    margin: 20px 0 0 0;
}

.list-group {
    font-size: small;
}
.form-signin input,
.form-submit input,
.input-group-addon,
a.list-group-item {
    background-color: #1e434a;
    border: 1px solid rgba(100, 100, 100, 0.2);
    color: #fafafa;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:active {
    background-color: #5bc0de;
    background-image: none;
}
a.list-group-item:hover {
    background-color: rgba(50, 10, 50, 0.5);
    color: #dddddd;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control,
/*.form-submit .form-control, */
.form-signin button /*,
.form-submit button */ {
    position: relative;
    font-size: 20px;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.modal {
    overflow-y: auto;
}
#flash-messages .modal-content {
    opacity: 0.9;
    background: none;
    color: inherit;
    box-shadow: none;
    border: 0;
    margin: 0;
}

.modal .modal-dialog {
    margin: 50px auto;
}

#hints {
    display: none;
}

table.scoreboard span.alert-info {
    border-radius: 3px;
    padding: 0 2px;
    background: #1e434a;
    font-weight: bold;
    color: inherit;
    text-shadow: 0px 0px 1px #000000;
}

table.scoreboard span.alert-danger {
    /*color: #7e284a;*/
    /*text-shadow: 0px 0px 1px #000000;*/
    color: inherit;
}

.chart {
    height: 600px;
    width: 100%;
}

.global-score {
    font-weight: bold;
}


.chall-tile {
    display: block;
    padding: 4px;
    margin-top: 30px;
    line-height: 1.42857143;
    border: 1px solid rgba(0, 43, 54, 0.95);
    background-color: rgba(238, 232, 213, 0.125);
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    padding: 9px;
    color: #2AA198;
    clear:both;
}
.chall-tile:hover {
    color: #2AA198;
    text-decoration: none;
}
.chall-tile:active, .chall-tile:visited, .chall-tile:enabled, .chall-tile:link, .chall-tile:hover{
    color: #2AA198;
    text-decoration: none;
}
.chall-tile.inactive {
    opacity: 0.4;
}
.chall-tile h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 27px;
    line-height: 25px;
    text-align: center;
    margin-top: 10px;
}
.chall-tile .solvers {
    float: right;
}

.chall-tile .description {
    text-align: center;
    margin-bottom: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    background: rgba(238, 232, 213, 0.125);
    border-radius: 2px;
}

.chall-tile:hover {
    border: 1px solid rgba(0, 43, 54, 0.9);
    box-shadow: 0 0 10px 1px rgba(238, 232, 213, 0.08);
    transition: border 0.4s ease;
    transition: box-shadow 0.4s ease;
}

.chall-tile:active {
    background: rgba(238, 232, 213, 0.08);
}

.chall-tile:focus {
    outline: none;
}

.carousel-caption {
    position: initial !important;
}

span.chall-header {
    display:inline-block;
    max-width:80px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    vertical-align: bottom;
}
