{% macro tabify(data, keys, target, id, class='') %}
    <div role="tabpanel" class="tab-pane fade {{ class }}" id="{{ id }}">
    {% if target != "writeup" %}
        <div style="padding-top: 20px;">
            <p>
                <a href="{{ url_for('add_' ~ target) }}" style="background: none">
                    <button type="button" class="btn btn-info">
                        <span class="glyphicon glyphicon-plus"></span>
                        add new {{ target }}
                    </button>
                </a>
            </p>
        </div>
    {% endif %}
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <td></td>
                {% for k in keys %}
                    <td>{{ k }}</td>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
        {% for d in data %}
            {% if d.active == 0 %}
                <tr class="text-muted danger">
            {% else %}
                <tr>
            {% endif %}
                    <td>
                        <a href="{{ url_for('edit_' ~ target, id=d.id) }}" style="background: none">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                {% for k in keys %}
                    <td>{{ d[k] }}</td>
                {% endfor %}
                <tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% macro render_inline_fields(form) %}
    {% for field in form %}
        {% if field.type == 'CSRFTokenField' %}
        {% elif field.type == 'BooleanField' %}
             <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            {{ field }} {{ field.name }}
                        </label>
                    </div>
                </div>
            </div>
        {% else %}
            {% if field.flags.required %}
                <div class="form-group has-feedback has-error">
                    <span class="glyphicon glyphicon-hand-left form-control-feedback" aria-hidden="true"></span>
            {% else %}
                <div class="form-group">
            {% endif %}
                    {{ field.label(class="col-sm-2 control-label") }}
                    <div class="col-sm-10" >
                        {{ field(class="form-control") }}
                    </div>
                </div>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro get_status_badge(status) %}
    {% if status == 1 %}
        <span class="label label-info">UP</span>
    {% elif status == 0 %}
        <span class="label label-danger">CORRUPTED</span>
    {% elif status == 2 %}
        <span class="label label-warning">NO FLAG</span>
    {% else %}
        <span class="label label-warning">NOT CHECKED</span>
    {% endif %}
{% endmacro %}

{% macro get_jqplot_code(graph_name, data, labels, label_x, label_y, min_x, max_x, min_y, max_y, integer_only=false) %}
    $.jqplot('{{ graph_name }}', [
        {% if data %}
            {% for d in data %}
                {{ d|safe }}, 
            {% endfor %}
        {% else %}
            [null]
        {% endif %}
        ] , {
            title: {
              text: '{{ graph_name.split("_")[0] | title }}',
              textColor: '#ffffff'
            },
            legend: {
            {% if labels %}
              show: true,
            {% endif %}
              location: 'nw',
            },
            series: [
            {% for label in labels %}
                {'markerOptions': {'size': 0}, 'label': '{{ label }}'}, 
            {% endfor %}
            ],
          {% if integer_only %}
            axesDefaults: {
              //tickInterval: 1, 
              tickOptions: { 
                formatString: '%d' 
              }
            },
          {% endif %}
            axes: {
              xaxis: {
                {{ label_x|safe }},
              {% if min_x is not none %}
			    {% if integer_only %}
                  min: {{ min_x }},
				{% else %}
                  min: '{{ min_x }}',
				{% endif %}
              {% endif %}
              {% if max_x is not none %}
			    {% if integer_only %}
                  max: {{ max_x }},
				{% else %}
                  max: '{{ max_x }}',
				{% endif %}
              {% endif %}
              },
              yaxis: {
                {{ label_y|safe }},
              {% if min_y is not none %}
                min: {{ min_y }},
               {% endif %}
              {% if max_y is not none %}
                max: {{ max_y }},
              {% endif %}
                tickOptions: {
                  formatString: '%d'
                }
              }
            },
            grid: { 
              background: 'rgba(0,0,0, 0.4)',
              gridLineColor: 'rgba(0,0,0, 0.6)',
              gridLineWidth: 1,
              borderWidth: 0,
              shadow: false
            }
        }
    );
{% endmacro %}
