{% extends "layout.html" %}
{% block title %}{{ challenge.name }}{% endblock %}
{% block content %}

<h2>{{ challenge.name }} <span class="text-muted">({{ challenge.points }} points)
{% if solved %}
    <span class="glyphicon glyphicon-ok alert-info" aria-hidden="true" style="background: none"></span>
{% endif %}
</h2>

<div class="row">
{{ challenge.description|safe }}
</div>

{% if challenge.active %}
    {% if challenge.writeup and solved %}
        {% if writeups %}
            <div class="row">
                <h3>Your writeup submissions</h3>
                <ul>
                {% for writeup in writeups %}
                    <li><a href="{{ url_for('writeup', id=writeup.id) }}">{{ writeup.timestamp }}</a></li>
                {% endfor %}
                </ul>
            </div>
            {% if evaluation %}
                <div class="row">
                    <h3>Evaluation</h3>
                    <div class="col-md-8">
                        <h4>Feedback</h4>
                        <pre><code>{{ evaluation.feedback }}</code></pre>
                    </div>
                    <div class="col-md-4">
                    {% if graded %}
                        <h4>Grade</h4>
                        <pre><code>{{ evaluation.grade }}</code></pre>
                    {% endif %}
                        <p>{{ evaluation.timestamp }}</p>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {% if not graded %}
            <div class="row">
                <h3>Submit a writeup</h3>
                <p>Writeup submission can be performed until a grade is assigned</p>
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form class="form-submit" action="{{ url_for('challenge', name=challenge.name) }}" method="post">
                        {{ writeup_form.hidden_tag() }}
                        <div class="form-group">
                            {{ writeup_form.writeup(placeholder="Writeup data", class="form-control", rows="20", required=True) }}
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
                <div class="col-md-2"></div>
            </div>
        {% endif %}
    {% endif %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form class="form-submit" action="{{ url_for('challenge', name=challenge.name) }}" method="post">
                {{ flag_form.hidden_tag() }}
                <div class="form-group">
                    {{ flag_form.flag.label(class="sr-only") }}
                    {{ flag_form.flag(placeholder="Flag", class="form-control", required=True) }}
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
{% else %}
    <div class="row">
        <p class="lead">Challenge disabled</p>
    </div>
{% endif %}

{% endblock %}
