{% extends "layout.html" %}
{% block title %}{{ challenge.name }}{% endblock %}
{% block content %}

<h2>{{ challenge.name }} <span class="text-muted">({{ challenge.points }} points)
{% if solved %}
    <span class="glyphicon glyphicon-ok alert-info" aria-hidden="true" style="background: none"></span>
{% endif %}
</h2>

<div class="row">
{{ challenge.description|safe }}
</div>

{% if challenge.active %}
    {% if challenge.writeup and solved %}
        {% if writeup %}
            <div class="row">
                <div class="col-md-8">
                    <h4>Your writeup</h4>
                    <pre><code>{{ writeup.writeup }}</code></pre>
                </div>
                <div class="col-md-4">
                    <h4>Feedback</h4>
                    <pre><code>{{ writeup.feedback }}</code></pre>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form class="form-submit" action="{{ url_for('challenge', name=challenge.name) }}" method="post">
                        {{ writeup_form.hidden_tag() }}
                        <div class="form-group">
                            {{ writeup_form.writeup(placeholder="Writeup data", class="form-control", rows="20", required=True) }}
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
                <div class="col-md-2"></div>
            </div>
        {% endif %}
    {% endif %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form class="form-submit" action="{{ url_for('challenge', name=challenge.name) }}" method="post">
                {{ flag_form.hidden_tag() }}
                <div class="form-group">
                    {{ flag_form.flag.label(class="sr-only") }}
                    {{ flag_form.flag(placeholder="Flag", class="form-control", required=True) }}
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
{% else %}
    <div class="row">
        <p class="lead">Challenge disabled</p>
    </div>
{% endif %}

{% endblock %}
