{% extends "layout.html" %}
{% block title %}Writeup{% endblock %}
{% block content %}

<h2>Writeup</h2>
<div class="row">
	<div class="col-md-8">
		<div class="col-md-4">
			<h3>Challenge</h3>
			<p><strong>{{ writeup.challenge_name }}</strong> ({{ writeup.challenge_points }}pts)</p>
		</div>
		<div class="col-md-4">
			<h3>Author</h3>
			<p>{{ writeup.user_name }} {{ writeup.user_surname }}</p>
		</div>
		<div class="col-md-4">
			<h3>Date</h3>
			<p>{{ writeup.timestamp }}</p>
		</div>
		
		<pre><code>{{ writeup.writeup }}</code></pre>
	</div>
	<div class="col-md-4">
		<h3>Previous Writeups</h3>
		<div class="list-group">
		{% for w in writeups %}
			<a href="{{ url_for('writeup', id=w.id) }}" class="list-group-item{{ ' active disabled' if w.id == writeup.id else '' }}">
				{{ w.timestamp }}
			</a>
		{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
