{% extends "layout.html" %}
{% block title %}Challenge Scoreboard{% endblock %}
{% block content %}

<h1>Challenge Scoreboard</h1>

<p>Bonus points: +3, +2, +1 to the first, second, third solver of each challenge</p>

<div class="row">
    <div class="col-md-12">
        <!-- Table -->
        <table class="table scoreboard">
            <thead>
                <tr>
                    <td class="text-left">User</td>
                {% for chal in challenges %}
                    <td class="text-center">
                        <a href="{{ url_for('challenge', name=chal.name) }}" title="{{ chal.points }} points" class="btn btn-lg btn-default {% if not chal.active %}inactive{% endif %}" role="button">
                            {{ chal.name }}
                        </a>
                    </td>
                {% endfor %}
                    <td class="text-right">Total</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="users_time" class="chart"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="challenges_time" class="chart"></div>
    </div>
</div>


<script>
$(document).ready(function() {
    $.getJSON("/_challenges_scoreboard", function (data) {
        makeChart("users_time", data, usersChart);
        makeChart("challenges_time", data, challengesChart);
    });
});
</script>
<script language="javascript" type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script language="javascript" type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
<script language="javascript" type="text/javascript" src="https://www.amcharts.com/lib/3/themes/dark.js"></script>
<script language="javascript" type="text/javascript" src="https://www.amcharts.com/lib/3/amstock.js"></script>
<script language="javascript" type="text/javascript" src="/static/js/charts.js"></script>

{% endblock %}
