{% extends "layout.html" %}
{% block title %}Challenge Scoreboard{% endblock %}
{% block content %}

<h1>Challenge Scoreboard</h1>

<p>Bonus points: +3, +2, +1 to the first, second, third solver of each challenge</p>

<div class="row">
    <div class="col-md-12">
        <!-- Table filled dynamically via JS -->
        <table class="table scoreboard" data-sorting="true"></table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="users_time" class="chart"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="challenges_time" class="chart"></div>
    </div>
</div>

<script>
var columns = [
    {"name": "user", "title": "User", "classes": "text-left"},
{% for chal in challenges %}
    {
        "name": "{{ chal.name }}",
        "title": "<a href=\"{{ url_for('challenge', name=chal.name) }}\" title=\"{{ chal.points }} points\" class=\"btn btn-lg btn-default {% if not chal.active %}inactive{% endif %}\" role=\"button\">{{ chal.name }}</a>",
        "classes": "text-center",
        "type": "html"
    },
{% endfor %}
    {"name": "points", "title": "Total", "classes": "text-right", "type": "number"}
];

function updateScores(table) {
    $.getJSON("/_challenges_scoreboard", function (data) {
        makeChart("users_time", data, usersChart);
        makeChart("challenges_time", data, challengesChart);

        var rows = data.map(function (u) {
            var row = { user: u.user, points: u.points };
            Object.keys(u.challenges).forEach(function (c) {
                var entry = $("<span>").attr("aria-hidden", "true");
                row[c] = $("<td>").append(u.challenges[c].timestamp !== null ?
                         entry.addClass("alert-info").attr("title", u.challenges[c].timestamp).text(u.challenges[c].points) :
                         entry.addClass("glyphicon glyphicon-remove alert-danger").css("background", "none"));
            });
            return row;
        });
        table.rows.load(rows);

        setTimeout(function () {
            updateScores(table)
        }, 5000);
    });
}

$(document).ready(function() {
    var table = FooTable.init(".scoreboard", {
        "columns": columns
    });
    updateScores(table);
});
</script>
<script language="javascript" type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script language="javascript" type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
<script language="javascript" type="text/javascript" src="https://www.amcharts.com/lib/3/themes/dark.js"></script>
<script language="javascript" type="text/javascript" src="https://www.amcharts.com/lib/3/amstock.js"></script>
<script language="javascript" type="text/javascript" src="/static/js/charts.js"></script>

{% endblock %}
