{% extends "layout.html" %}
{% block title %}CTF Scoreboard{% endblock %}
{% block content %}

{% from "_macros.html" import get_status_badge %}

<h1>CTF Scoreboard</h1>
<p>
{% if rnd >= 0 %}
    Scores computed at round {{ rnd }}.
    Current round {{ rnd + 1 }}.
    Round {{ rnd + 2 }} starting in <span id="countdown">{{ time_left }} seconds</span>
{% else %}
    Attack/defense CTF is coming soon
{% endif %}
</p>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <td class="text-center">#</td>
                    <td>Team</td>
                    {% for service in services %}
                        <td class="text-center">
                            <a href="{{ url_for('service', name=service.name) }}" class="btn btn-lg btn-default {% if not service.active %}inactive{% endif %}" role="button">
                                {{ service.name }}
                            </a>
                        </td>
                    {% endfor %}
                    <td>Attack (%)</td>
                    <td>Defense (%)</td>
                    <td>Total (%)</td>
                </tr>
            </thead>
            <tbody>
        {% for board_team in board %}
            {% if board_team.team == team %}:
                <tr class="active">
            {% else %}
                <tr>
            {% endif %}
                <td class="text-center">{{ board_team.position }}</td>
                <td><span title="ip: {{ board_team.ip }}">{{ board_team.team }}</span></td>
                {% for service in services %}
                    {% set status, timestamp = board_team['services'][service['id']] %}
                    <td class="text-center" title="last checked at {{ timestamp }}">{{ get_status_badge(status) }}</td>
                {% endfor %}
                <td><span title="Attack points: {{ board_team.attack }}">{{ board_team['ratio_attack'] | round(2, 'floor') }}</span></td>
                <td><span title="Defense points: {{ board_team.defense }}">{{ board_team['ratio_defense'] | round(2, 'floor') }}</span></td>
                <td>{{ board_team['score'] | round(2, 'floor') }}</td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div id="attack_scores" style="height:400px;"></div>
    </div>
    <div class="col-md-6">
        <div id="defense_scores" style="height:400px;"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="total_scores" style="height:600px;"></div>
    </div>
</div>
<script>
$(document).ready(function() {
    {% if rnd >= 1 %}
    var hours, minutes, seconds;
    var seconds_left = {{ time_left }};
    var countdown = document.getElementById("countdown");
    
    setInterval(function () {
        if(seconds_left <= 0 || seconds_left % 600 == 0) {
            window.location.reload(true);
        }
        
        seconds_left = seconds_left - 1;

        hours = parseInt(seconds_left / 3600);
        s_left = seconds_left % 3600;
         
        minutes = parseInt(s_left / 60);
        seconds = parseInt(s_left % 60);

        countdown.innerHTML = hours + "h " + minutes + "m " + seconds + "s";
    }, 1000);
    {% endif %}

});
</script>

{% endblock %}
