{% extends "layout.html" %}
{% block title %}CTF Scoreboard{% endblock %}
{% block content %}

{% from "_macros.html" import get_status_badge %}

<h1>CTF Scoreboard</h1>
<p>
{% if rnd >= 0 %}
    Scores computed at round {{ rnd }}.
    Current round {{ rnd + 1 }}.
    Round {{ rnd + 2 }} starting in <span id="countdown">{{ time_left }} seconds</span>
{% else %}
    Attack/defense CTF is coming soon
{% endif %}
</p>

<div class="row">
    <div class="col-md-12">
        <table class="table scoreboard"></table>
    </div>
</div>
<!--
<div class="row">
    <div class="col-md-6">
        <div id="attack_scores" style="height:400px;"></div>
    </div>
    <div class="col-md-6">
        <div id="defense_scores" style="height:400px;"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="total_scores" style="height:600px;"></div>
    </div>
</div>
-->
<script>
var columns = [
    {"name": "team", "title": "Team", "classes": "text-left"},
{% for s in services %}
    {
        "name": "{{ s.name }}",
        "title": "<a href=\"{{ url_for('service', name=s.name) }}\" class=\"btn btn-lg btn-default {% if not s.active %}inactive{% endif %}\" role=\"button\">{{ s.name }}</a>",
        "classes": "text-center",
        "type": "html"
    },
{% endfor %}
    {"name": "score", "title": "Global Score", "classes": "text-center", "type": "html"}
];

function formatNumber(n) {
    var prefix = (n >= 0) ? "  " : " ";
    return prefix + n.toLocaleString("en-US", {"minimumFractionDigits": 2, "maximumFractionDigits": 2});
}

function renderService(s) {
    var integrity_check;

    if (s.integrity) {
        integrity_check = s.integrity.status ?
                          $("<span class='label label-info'>UP</span>") :
                          $("<span class='label label-danger'>CORRUPTED</span>");
        integrity_check.attr("title", "last checked at " + s.integrity.timestamp);
    } else {
        integrity_check = $("<span class=\"label label-warning\">NOT CHECKED</span>");
    }

    return $("<td>").append([
        integrity_check, $("<br>"),
        $("<span class='glyphicon glyphicon-fire' title='attack' style='margin-top: 10px'>"), formatNumber(s.attack), $("<br>"),
        $("<span class='glyphicon glyphicon-tower' title='defense'>"), formatNumber(s.defense), $("<br>"),
        $("<span class='glyphicon glyphicon-wrench' title='SLA'>"), formatNumber(s.sla), $("<br>")
    ]);
}

function renderScore(t) {
    return $("<td>").append([
        $("<span class='glyphicon glyphicon-globe' title='global score'>"), $("<span class='global-score'>").append(formatNumber(t.score)), $("<br>"),
        $("<span class='glyphicon glyphicon-fire' title='attack'>"), formatNumber(t.attack), $("<br>"),
        $("<span class='glyphicon glyphicon-tower' title='defense'>"), formatNumber(t.defense), $("<br>"),
        $("<span class='glyphicon glyphicon-wrench' title='SLA'>"), formatNumber(t.sla)
    ]);
}

function updateScores(table) {
    $.getJSON("/ctf_scoreboard", function (data) {
        var rows = data.map(function (t) {
            var row = { team: t.name, score: renderScore(t) };
            Object.keys(t.services).forEach(function (s) {
                row[s] = renderService(t.services[s]);
            });
            return row;
        });
        table.rows.load(rows);

        setTimeout(function () {
            updateScores(table)
        }, 30000);
    });
}

$(document).ready(function() {
    var table = FooTable.init(".scoreboard", {
        "columns": columns
    });
    updateScores(table);
});
</script>


<!--
<script>
$(document).ready(function() {
    {% if rnd >= 1 %}
    var hours, minutes, seconds;
    var seconds_left = {{ time_left }};
    var countdown = document.getElementById("countdown");

    setInterval(function () {
        if(seconds_left <= 0 || seconds_left % 600 == 0) {
            window.location.reload(true);
        }

        seconds_left = seconds_left - 1;

        hours = parseInt(seconds_left / 3600);
        s_left = seconds_left % 3600;

        minutes = parseInt(s_left / 60);
        seconds = parseInt(s_left % 60);

        countdown.innerHTML = hours + "h " + minutes + "m " + seconds + "s";
    }, 1000);
    {% endif %}

});
</script>
-->

{% endblock %}
