{% extends "layout.html" %}
{% block title %}Writeup{% endblock %}
{% block content %}

<h2>{{ writeup.challenge_name }}</strong> ({{ writeup.challenge_points }}pts) Writeup</h2>
<p><span class="text-muted">By {{ writeup.user_name }} {{ writeup.user_surname }}</span></p>
<div class="row">
	<div class="col-md-8">
		<div class="row">
			<div class="panel panel-default">
      			<div class="panel-body">{{ writeup.writeup|markdown }}</div>
    		</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="list-group">
		{% for w in writeups %}
			<a href="{{ url_for('writeup', id=w.id) }}" class="list-group-item{{ ' active disabled' if w.id == writeup.id else '' }}">
				{{ w.timestamp }}
			</a>
		{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
