{% extends "layout.html" %}
{% block title %}{{ challenge.name }}{% endblock %}
{% block content %}

<h2>{{ challenge.name }} <span class="text-muted">({{ challenge.points }} points)
{% if solved %}
    <span class="glyphicon glyphicon-ok alert-info" aria-hidden="true" style="background: none"></span>
{% endif %}
</h2>

<div class="row">
{{ challenge.description|safe }}
</div>

{% if challenge.active %}
    {% if challenge.writeup and solved %}
            <hr>
        {% if writeups %}
            <div class="row">
                <div class="col-md-8">
                {% if evaluation %}
                    <h3>Evaluation</h3>
                        <p>Feedback</p>
                        <pre><code>{{ evaluation.feedback }}</code></pre>
                    {% if graded %}
                        <p>Grade <span class="big">{{ evaluation.grade }}</span>/10</p>
                    {% endif %}
                        <p>Evaluated at {{ evaluation.timestamp }}</p>
                {% endif %}
                </div>
                <div class="col-md-4">
                    <div class="list-group">
                    {% for writeup in writeups %}
                        <a href="{{ url_for('writeup', id=writeup.id) }}" class="list-group-item">{{ writeup.timestamp }}</a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if not graded %}
            <div class="row">
                <h3>Submit a writeup</h3>
                <p>Writeup submission can be performed until a grade is assigned</p>
                <div class="col-md-12">
                    <form class="form-submit" action="{{ url_for('challenge', name=challenge.name) }}" method="post">
                        {{ writeup_form.hidden_tag() }}
                        <div class="form-group">
                            {{ writeup_form.writeup(placeholder="Writeup data", class="form-control", rows="20", required=True) }}
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        {% endif %}
    {% endif %}
    {% if not solved %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form class="form-submit" action="{{ url_for('challenge', name=challenge.name) }}" method="post">
                {{ flag_form.hidden_tag() }}
                <div class="form-group">
                    {{ flag_form.flag.label(class="sr-only") }}
                    {{ flag_form.flag(placeholder="Flag", class="form-control", required=True) }}
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
    {% endif %}
{% else %}
    <div class="row">
        <p class="lead">Challenge disabled</p>
    </div>
{% endif %}

{% endblock %}
