{% extends "layout.html" %}
{% block title %}Challenges{% endblock %}
{% block content %}

<h1>Challenges</h1>

{% if config.JEOPARDY_BONUS %}
<p>Bonus points: +3, +2, +1 to the first, second, third solver of each challenge</p>
{% endif %}

<div class="card">
    <div class="card-header">
        <b>TIME LEFT</b>
    </div>
    <div class="card-body mx-auto h3">
        00:00:00
    </div>
    <!--
    <div class="card-body mx-auto h5">
        The CTF is over!<br>
        You can continue to submit flags but they will not be counted for your score.
    </div>
    -->
</div>

<div class="row">
    {% for chal in challenges %}
    <div class="col-md-3 col-sm-6">
        <a href="{{ url_for('challenge', name=chal.name) }}" class="chall-tile {% if not chal.active %} inactive {% endif %}" >
            <span class="points">{{ chal.points }} <small>pts</small></span>
            <span class="solvers">{{ chal.solvers }} <small>solver(s)</small></span>
            <h3 class="title">
                {% if chal.solved %}
                <span class="fa fa-check-circle"
                      style="background:none;" aria-hidden="true" ></span>
                {% endif %}
                {{ chal.name }}
            </h3>
            <p class="description">{{ chal.tags }}</p>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}
