{% extends "layout.html" %}
{% block title %}Credits{% endblock %}
{% block content %}

<h1>Credits</h1>

<p>The following persons contributed to the development of the CTF infrastructure</p>
<ul>
    <li>Francesco Palmarini (erpalma), Ca' Foscari Venezia</li>
    <li>Marco Squarcina (lavish), Ca' Foscari Venezia</li>
    <li>Mauro Tempesta (MrStorm), Ca' Foscari Venezia</li>
    <li>Lorenzo Veronese (wert310), Ca' Foscari Venezia</li>
</ul>
<p>Services have been provided by the Ca' Foscari and Politecnico di Milano. Blame these guys if you got stuck on some problems</p>
<ul>
    <li>Francesco Cagnin (integeruser), Ca' Foscari Venezia</li>
    <li>Marco Gasparini (xire), Ca' Foscari Venezia</li>
    <li>Francesco Palmarini (erpalma), Ca' Foscari Venezia</li>
    <li>Mario Polino (JinBlack), Politecnico di Milano</li>
    <li>Marco Squarcina (lavish), Ca' Foscari Venezia</li>
    <li>Lorenzo Veronese (wert310), Ca' Foscari Venezia</li>
</ul>
{% endblock %}
