{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="jumbotron"></div>

<p class="lead"><strong>CCIT CTF '18</strong> is the final Capture The Flag contest of the CyberChallenge.IT training program! The style of this CTF is attack/defense: please refer to the <a href="{{ url_for('design') }}">rules</a> for a more comprehensive introduction.</p>

<div class="card">
	<div class="card-header">The theme of this CTF is <b>Underwater Life</b><!-- which is just a front for the topic lavish pushed so badly: Spongebob --></div>
	<div class="card-body">
		<p>Year 2104, unsustainable levels of pollution caused a spike in the global warming. The polar icecap decreased by 90% over the last century, glaciers disappeared leaving naked rocks to burn under a careless sun. Large parts of continents have been flooded, with the oceans relentlessly washing away the foolishness of the human race. In the race for survival, people who seek refuge on the highest peaks succumbed to the extreme amount of radiations. The only hope left for humanity was to fight the ancestral fear of the dark and sink in the oceans, living on the sea bottom, protected by kilometers of water.</p>
	</div>
</div>

<div class="mb-5"></div>
{% endblock %}
