{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="jumbotron"></div>

<p class="lead"><strong>CCIT CTF '18</strong> is the final Capture The Flag contest of the CyberChallenge.IT training program. It's now time to prove your skills!</p>

<blockquote class="blockquote text-justify"><p>A Capture the Flag (CTF) is a computer security competition. CTF contests are usually designed to serve as an educational exercise to give participants experience in securing a machine, as well as conducting and reacting to the sort of attacks found in the real world. There are two main styles of capture the flag competitions: jeopardy and attack/defense.</p>

<p>In an attack/defense style competition, each team is given a machine to defend on an isolated network. Teams are scored on both their success in defending their assigned machine and on their success in attacking the other team's machines.</p>

<blockquote class="blockquote-footer text-right"><a href="https://en.wikipedia.org/wiki/Capture_the_flag#Computer_security">Wikipedia</a></blockquote>

<p  class="lead">
  The theme of this CTF is Underwater Life. <!-- which is just a front for the topic lavish pushed so badly: Spongebob -->
</p>
<p class="lead">
Year 2104, unsustainable levels of pollution caused a spike in the global warming. The polar icecap decreased by 90% over the last century, glaciers disappeared leaving naked rocks to burn under a careless sun. Large parts of continents have been flooded, with the oceans relentlessly washing away the foolishness of the human race.
</p>
<p class="lead">
In the race for survival, people who seek refuge on the highest peaks succumbed to the extreme amount of radiations. The only hope left for humanity was to fight the ancestral fear of the dark and sink in the oceans, living on the sea bottom, protected by kilometers of water
</p>

<div class="mb-5"></div>
{% endblock %}
