{% extends "layout.html" %}
{% block title %}CTF Design{% endblock %}
{% block content %}

<h1>Jeopardy CTF Rules</h1>

<div class="row featurette">
    <div class="col-md-8">
        <h2 class="featurette-heading">Infrastructure. <span class="text-muted">How things work.</span></h2>
<p>// TODO</p>
    </div>
    <div class="col-md-4">
        <img width="250" class="featurette-image img-responsive" src="{{ url_for('static', filename='img/cog.png') }}" alt="Cog">
    </div>
</div>

{% endblock %}
