{% extends "layout.html" %}
{% block title %}Teams{% endblock %}
{% block content %}

<h1>Teams</h1>

<div class="row">
    <div class="col-md-12">
    {% for team in teams %}
        <div class="col-md-4">
            <h2 class="text-center">{{ team.name }} (team{{ team.id }})</h2>
            <table class="table" id="team-{{ team.id }}">
                <thead><tr><td>Name</td><td>Surname</td></tr></thead>
                <tbody>
            {% for user in users %}
                {% if team.id == user.team_id %}
                    <tr id="user-{{ user.id }}"><td>{{ user.name }}</td><td>{{ user.surname }}</td></tr>
                {% endif %}
            {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}
