{% extends "layout.html" %}
{% block title %}User Profile{% endblock %}
{% block content %}

<h1>User Profile</h1>

<div class="row">
    <div class="col-md-8">
        <table class="table">
            <tr><td>Name:</td><td>{{ user.name }} {{ user.surname }} ({{ user.nickname }})</td></tr>
            <tr><td>Mail:</td><td>{{ user.mail }}</td></tr>
            <tr><td>Affiliation:</td><td>{{ user.affiliation }}</td></tr>
        </table>
    </div>
    <div class="col-md-4">
        <a class="btn btn-dark d-block {% if not vpn_encoded %}disabled{% endif %}"
           download="{{ user.nickname }}.ovpn"
           {% if vpn_encoded %}
           href="data:application/octet-stream;base64,{{ vpn_encoded }}"
           {% endif %}>
            <i class="fa fa-download"></i>
            {{ user.nickname }}.ovpn
        </a>
        <a class="btn btn-dark d-block mt-3"
           target="_blank"
           href="https://join.slack.com/t/cyberchallengeit-ctf/shared_invite/enQtMzc2MDMxNDc4OTYyLWUzOTdkMzIwMWYxMmFmMzJmMTllYjYwZDRmYWNhMTE5NWM4ZDdiYzU2OTJjNzE1MTQ0ZDU2NTg4OTcwMjcxYjY">
            <i class="fa fa-slack"></i>
            Join on Slack
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Solved Challenges</h2>

        {% if challenges|length > 0 %}
        <table class="table">
            <thead><tr><td>Challenge</td><td>Score</td><td>Time</td></tr></thead>
            <tbody>
            {% for chal in challenges %}
                <tr>
                    <td>{{ chal.name }}</td><td>{{ chal.points }}</td><td>{{ chal.timestamp }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h3 align="center">No Challenges</h3>
        {% endif %}
    </div>
</div>

{% endblock %}
